# You can override the included template(s) by including variable overrides
# SAST customization: https://docs.gitlab.com/ee/user/application_security/sast/#customizing-the-sast-settings
# Secret Detection customization: https://docs.gitlab.com/user/application_security/secret_detection/pipeline/configure
# Dependency Scanning customization: https://docs.gitlab.com/ee/user/application_security/dependency_scanning/#customizing-the-dependency-scanning-settings
# Container Scanning customization: https://docs.gitlab.com/ee/user/application_security/container_scanning/#customizing-the-container-scanning-settings
# Note that environment variables can be set in several places
# See https://docs.gitlab.com/ee/ci/variables/#cicd-variable-precedence
stages:
- build
- test
- security
- deploy
build_placeholder:
  stage: build
  image: node:20
  script:
    - echo "Build stage placeholder"
cicd_alive_check:
  stage: test
  image: node:20
  script:
  - echo "CI is alive"
  - node --version


include:
- template: Security/Secret-Detection.gitlab-ci.yml
