# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Environment variables
.env
.env.*

# Node / JS
node_modules/
dist/
build/

# Python
__pycache__/
*.pyc
.venv/

# ML junk
*.onnx
*.pt
*.h5
models/

# Editor
.vscode/
.idea/

# Infra / tooling
terraform.tfstate
terraform.tfstate.*
